{% extends "_layouts/auth.njk" %} {% block body %}
<form action="/signin" method="post">
  <img src="/images/logo.svg" height="42" />

  {% include "_partials/flash.njk" %}

  <input type="email" name="email" placeholder="Your email" />
  <input type="password" name="password" placeholder="Your password" />

  <button type="submit">Login</button>

  <a href="/">Make a free account</a>
</form>

<script type="text/javascript">
  const avatarInput = document.getElementById('avatar')
  const img = document.querySelector('label[for=avatar] img')

  avatarInput.onchange = function(e) {
    img.classList.add('preview')
    img.src = URL.createObjectURL(e.target.files[0])
  }
</script>
{% endblock %}
